<div class="col-xl-2">
    <div class="dashboard">
        <a class="dashboard-title btn-success" href="/admin">
            <i class="dash-nav-icon fa-solid fa-gauge-high"></i>
            <span class="dashboard-title-name">Trang quản trị</span>
        </a>
        <div class="sidenav">
            <div class="dropend sidenav-item">
                <button class="sidenav-btn" data-bs-toggle="dropdown">
                    <i class="dash-nav-icon fa-solid fa-pager"></i>
                    <span class="sidenav-name">Trang web</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href="#">Thêm mới</a></li>
                    <li><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                    <li><a class="dropdown-item" href="#">Đối tượng đã xóa</a></li>
                </ul>
            </div>
            <div class="dropend sidenav-item">
                <button class="sidenav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="dash-nav-icon fa-solid fa-box"></i>
                    <span class="sidenav-name">Sản phẩm</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href="/products/create">Thêm mới</a></li>
                    <li><a class="dropdown-item" href="/products/edit">Chỉnh sửa</a></li>
                    <li><a class="dropdown-item" href="/admin/store-products">Danh mục sản phẩm</a></li>
                    <li><a class="dropdown-item" href="/products/trash">Sản phẩm đã xóa</a></li>
                </ul>
            </div> 
            <div class="dropend sidenav-item">
                <button  class="sidenav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="dash-nav-icon fa-solid fa-paste"></i>
                    <span class="sidenav-name">Quản lý đơn hàng</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href="#">Thêm mới</a></li>
                    <li><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                    <li><a class="dropdown-item" href="#">Danh mục sản phẩm</a></li>
                    <li><a class="dropdown-item" href="#">Sản phẩm đã xóa</a></li>
                </ul>
            </div>     
            <div class="dropend sidenav-item">
                <button class="sidenav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="dash-nav-icon fa-solid fa-gear"></i>
                    <span class="sidenav-name">Cài đặt chung</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href="#">Thêm mới</a></li>
                    <li><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                    <li><a class="dropdown-item" href="#">Danh mục sản phẩm</a></li>
                    <li><a class="dropdown-item" href="#">Sản phẩm đã xóa</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

