<div class="footer">
    <div class="container footer-wide">
        <a href="" class="footer_logo">
            <img src="/imgs/logo/fooddi-footer.png" alt="footer_logo">
        </a>
        <div class="row justify-content-between">
            <div class="col-xl-3 footer_info">
                <h2 class="company-name">
                    công ty tnhh dịch vụ fooddi
                </h2>
                <ul class="footer_info-list">
                    <li class="footer_info-item">ĐKKD: 01234567, ngày cấp: 17/07/2023</li>
                    <li class="footer_info-item">Sở Kế hoạch và đầu tư TP. Hồ Chí Minh</li>
                    <li class="footer_info-item">
                        Địa chỉ trụ sở chính: số x Hai Bà Trưng, Phường Tân Định, Quận 1, TP HCM
                    </li>
                </ul>
            </div>
            <div class="col-xl-2">
                <h2 class="instruct-order-title">
                    hướng dẫn order
                </h2>
                <ul class="instruct-order-list">
                    <li class="instruct-order-item">Chọn thực phẩm hot</li>
                    <li class="instruct-order-item">Chọn thực phẩm healthy</li>
                    <li class="instruct-order-item">Thực phẩm dành cho người ăn chay</li>
                    <li class="instruct-order-item">Chọn combo khuyến mại</li>
                </ul>
            </div>
            <div class="col-xl-2">
                <h2 class="instruct-order-title">
                    hướng dẫn order
                </h2>
                <ul class="instruct-order-list">
                    <li class="instruct-order-item">Chọn thực phẩm hot</li>
                    <li class="instruct-order-item">Chọn thực phẩm healthy</li>
                    <li class="instruct-order-item">Thực phẩm dành cho người ăn chay</li>
                    <li class="instruct-order-item">Chọn combo khuyến mại</li>

                </ul>
            </div>
            <div class="col-xl-3">
                <div class="footer_contact-email flex-align-c">
                    <button id="email-btn">Email</button>
                    <input id="email-box" type="text" placeholder="Nhập địa chỉ Email của bạn">
                </div>
                <div class="footer_contact-media flex-align-c">
                    <a href="" class="facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
                            <path d="M44.1154 0H7.78507C3.4855 0 0 3.4855 0 7.78507V44.1154C0 48.415 3.4855 51.9005 7.78507 51.9005H44.1154C48.415 51.9005 51.9005 48.415 51.9005 44.1154V7.78507C51.9005 3.4855 48.415 0 44.1154 0Z" fill="#1877F2"/>
                            <path d="M36.0465 33.4516L37.2021 25.9504H30.005V21.0847C30.005 19.0371 31.0085 17.03 34.232 17.03H37.5062V10.6438C37.5062 10.6438 34.5362 10.137 31.6978 10.137C25.7678 10.137 21.8955 13.7254 21.8955 20.2332V25.9504H15.3066V33.4516H21.8955V51.9006H30.005V33.4516H36.0465Z" fill="white"/>
                        </svg>
                    </a>
                    <a href="" class="youtube">
                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
                            <rect x="0.994141" width="50.9796" height="51.8018" rx="16" fill="#E43535"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.3607 38.8712H13.5841C10.2775 38.8712 7.57214 36.1565 7.57214 32.8386V18.7774C7.57214 15.4595 10.2775 12.7449 13.5841 12.7449H39.3607C42.6673 12.7449 45.3726 15.4595 45.3726 18.7774V32.8386C45.3726 36.1565 42.6673 38.8712 39.3607 38.8712ZM22.1604 20.6673V31.8253L31.9323 26.1526L22.1604 20.6673Z" fill="white"/>
                        </svg>
                    </a>
                    <a href="" class="instagram">
                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
                            <path d="M44.2149 0H7.88456C3.58498 0 0.0994873 3.4855 0.0994873 7.78507V44.1154C0.0994873 48.415 3.58498 51.9005 7.88456 51.9005H44.2149C48.5145 51.9005 52 48.415 52 44.1154V7.78507C52 3.4855 48.5145 0 44.2149 0Z" fill="black"/>
                            <path d="M44.2149 0H7.88456C3.58498 0 0.0994873 3.4855 0.0994873 7.78507V44.1154C0.0994873 48.415 3.58498 51.9005 7.88456 51.9005H44.2149C48.5145 51.9005 52 48.415 52 44.1154V7.78507C52 3.4855 48.5145 0 44.2149 0Z" fill="url(#paint0_radial_35_426)"/>
                            <path d="M44.2149 0H7.88456C3.58498 0 0.0994873 3.4855 0.0994873 7.78507V44.1154C0.0994873 48.415 3.58498 51.9005 7.88456 51.9005H44.2149C48.5145 51.9005 52 48.415 52 44.1154V7.78507C52 3.4855 48.5145 0 44.2149 0Z" fill="url(#paint1_linear_35_426)"/>
                            <path d="M33.4496 10.3396H18.6498C14.1151 10.3396 10.439 14.0157 10.439 18.5504V33.3502C10.439 37.8849 14.1151 41.561 18.6498 41.561H33.4496C37.9843 41.561 41.6604 37.8849 41.6604 33.3502V18.5504C41.6604 14.0157 37.9843 10.3396 33.4496 10.3396Z" stroke="white" stroke-width="7.39688"/>
                            <path d="M26.0497 33.2486C30.0806 33.2486 33.3482 29.981 33.3482 25.9501C33.3482 21.9193 30.0806 18.6516 26.0497 18.6516C22.0189 18.6516 18.7512 21.9193 18.7512 25.9501C18.7512 29.981 22.0189 33.2486 26.0497 33.2486Z" stroke="white" stroke-width="7.39688"/>
                            <path d="M35.2742 17.3338C35.6101 17.3338 35.8824 17.0615 35.8824 16.7256C35.8824 16.3897 35.6101 16.1174 35.2742 16.1174C34.9383 16.1174 34.666 16.3897 34.666 16.7256C34.666 17.0615 34.9383 17.3338 35.2742 17.3338Z" stroke="white" stroke-width="7.39688"/>
                            <defs>
                                <radialGradient id="paint0_radial_35_426" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20.8597 51.9005) scale(51.9005)">
                                <stop offset="0.1" stop-color="#FFDD55"/>
                                <stop offset="0.5" stop-color="#FF543E"/>
                                <stop offset="1" stop-color="#C837AB"/>
                                </radialGradient>
                                <linearGradient id="paint1_linear_35_426" x1="0.0994873" y1="0" x2="10.4796" y2="51.9005" gradientUnits="userSpaceOnUse">
                                <stop offset="0.1" stop-color="#3771C8"/>
                                <stop offset="0.5" stop-color="#6600FF" stop-opacity="0"/>
                                </linearGradient>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>