<div class="header">
    <div class="header-wide container">
      <div class="row head-box justify-content-between">
        <div class="head-item head-logo col-xl-2">
          <a href="/home" class="home-link">
            <img class="logo-img" src="/imgs/logo/fooddi.png" alt="">
          </a>
        </div>
        <div class="head-item col-xl-4">
          <ul class="nav-list flex-align-c">
            <li class="nav-item">
              <a href="/home" class="nav-b-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/home" class="nav-b-link">Order now</a>
            </li>
            <li class="nav-item">
              <a href="/home" class="nav-b-link">News</a>
            </li>
            <li class="nav-item">
              <a href="/home" class="nav-b-link">About us</a>
            </li>
          </ul>
        </div>
        <div class="head-item  col-xl-3 flex-align-c">
          <div class="search">
            <input type="text" class="search-box" placeholder="Search">
            <button class="search-btn flex-align-c">
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <path d="M17.6541 16.7624L22.5144 21.6227C22.7606 21.8689 22.7606 22.2681 22.5144 22.5144C22.2681 22.7606 21.8689 22.7606 21.6227 22.5144L16.7624 17.6541C14.9838 19.2242 12.6474 20.1769 10.0885 20.1769C4.51676 20.1769 0 15.6602 0 10.0885C0 4.51676 4.51676 0 10.0885 0C15.6602 0 20.1769 4.51676 20.1769 10.0885C20.1769 12.6474 19.2242 14.9838 17.6541 16.7624ZM10.0885 18.9159C14.9637 18.9159 18.9159 14.9637 18.9159 10.0885C18.9159 5.21322 14.9637 1.26106 10.0885 1.26106C5.21322 1.26106 1.26106 5.21322 1.26106 10.0885C1.26106 14.9637 5.21322 18.9159 10.0885 18.9159Z" fill="#FBF5F5"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="head-item col-xl-3 justify-content-end flex-align-c">
          <div class="info-icon">
            <a href="#" class="info-icon-telephone">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 28" fill="none">
                <path d="M16.7664 1.90758C16.8241 1.69218 16.965 1.5085 17.158 1.39686C17.351 1.28523 17.5805 1.25476 17.796 1.31216C19.8396 1.8617 21.703 2.93861 23.1994 4.43503C24.6958 5.93144 25.7727 7.79481 26.3223 9.83846C26.3508 9.94516 26.358 10.0564 26.3435 10.1659C26.329 10.2754 26.2931 10.381 26.2378 10.4766C26.1825 10.5722 26.1089 10.656 26.0213 10.7231C25.9336 10.7903 25.8336 10.8396 25.7269 10.8681C25.6201 10.8966 25.5089 10.9038 25.3994 10.8893C25.2899 10.8748 25.1843 10.8389 25.0887 10.7836C24.9931 10.7283 24.9093 10.6547 24.8422 10.567C24.775 10.4794 24.7258 10.3793 24.6973 10.2726C24.2245 8.51442 23.2979 6.91131 22.0105 5.6239C20.7231 4.33649 19.12 3.40997 17.3618 2.93718C17.1463 2.8796 16.9625 2.73878 16.8509 2.54569C16.7392 2.3526 16.7088 2.12307 16.7664 1.90758ZM16.2007 7.27061C17.1985 7.53889 18.1084 8.0647 18.8391 8.79537C19.5697 9.52603 20.0955 10.4359 20.3638 11.4338C20.4215 11.6492 20.5623 11.8329 20.7554 11.9445C20.9484 12.0561 21.1779 12.0864 21.3933 12.0289C21.6088 11.9713 21.7925 11.8305 21.9042 11.6375C22.0159 11.4445 22.0463 11.215 21.9888 10.9996C21.6438 9.71629 20.9675 8.5462 20.0279 7.60654C19.0882 6.66688 17.9181 5.99065 16.6348 5.64559C16.4193 5.58801 16.1898 5.6184 15.9967 5.73006C15.8036 5.84173 15.6628 6.02552 15.6052 6.24101C15.5477 6.4565 15.578 6.68604 15.6897 6.87913C15.8014 7.07222 15.9852 7.21304 16.2007 7.27061ZM27.4121 21.0228C27.1772 22.8489 26.2856 24.5271 24.9037 25.7438C23.5219 26.9605 21.7444 27.6326 19.9032 27.6344C8.92858 27.6344 0 18.7058 0 7.73121C0.00186377 5.89005 0.673926 4.11253 1.89065 2.73069C3.10736 1.34886 4.78552 0.457217 6.61164 0.222328C7.03321 0.171616 7.45987 0.258731 7.82781 0.470645C8.19576 0.68256 8.48522 1.00789 8.65291 1.39798L11.4689 7.96855C11.5967 8.26592 11.6489 8.59034 11.6206 8.91279C11.5924 9.23523 11.4847 9.54566 11.3071 9.81628L8.97539 13.3791C8.94904 13.4174 8.93303 13.4619 8.92893 13.5082C8.92483 13.5546 8.93277 13.6012 8.95199 13.6435C10.034 15.8507 11.8236 17.6324 14.0357 18.7043C14.0783 18.7234 14.1251 18.7311 14.1716 18.7267C14.2181 18.7222 14.2626 18.7057 14.3008 18.6789L17.8098 16.3389C18.0812 16.1573 18.3937 16.0465 18.7189 16.0166C19.0441 15.9868 19.3716 16.0388 19.6715 16.168L26.2363 18.9815C26.6265 19.1492 26.9518 19.4386 27.1638 19.8066C27.3757 20.1745 27.4629 20.6012 27.4121 21.0228ZM25.7433 20.812C25.7495 20.7526 25.7364 20.6928 25.7058 20.6415C25.6752 20.5902 25.6289 20.5502 25.5737 20.5274L19.009 17.7139C18.9661 17.6956 18.9193 17.6882 18.8728 17.6925C18.8264 17.6968 18.7817 17.7125 18.7429 17.7384L15.234 20.0783C14.9521 20.2669 14.6261 20.3791 14.2878 20.4037C13.9496 20.4284 13.6107 20.3648 13.3044 20.219C10.7529 18.9825 8.68864 16.9276 7.44058 14.3817C7.29423 14.0773 7.22906 13.7402 7.25138 13.4031C7.27371 13.0661 7.38278 12.7405 7.56801 12.458L9.89974 8.89508C9.92513 8.85639 9.94053 8.81201 9.94457 8.76591C9.9486 8.71981 9.94115 8.67342 9.92287 8.63091L7.107 2.06061C7.0861 2.01057 7.05107 1.9677 7.0062 1.93724C6.96132 1.90678 6.90855 1.89006 6.85432 1.8891C6.84366 1.88911 6.83301 1.88979 6.82243 1.89115C5.4024 2.07403 4.0975 2.76761 3.15151 3.84235C2.20552 4.91708 1.68314 6.29944 1.68196 7.73121C1.68741 12.5621 3.60889 17.1936 7.02486 20.6096C10.4408 24.0255 15.0723 25.947 19.9032 25.9525C21.335 25.9513 22.7173 25.4289 23.7921 24.4829C24.8668 23.5369 25.5604 22.232 25.7433 20.812Z" fill="#145404"/>
              </svg>
            </a>
            <a href="#" class="info-icon-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 26" fill="none">
                <path d="M26.1 15.7744L27.6857 7.05279C27.7301 6.8084 27.7203 6.55723 27.657 6.31705C27.5937 6.07687 27.4783 5.85353 27.3192 5.66283C27.16 5.47212 26.9609 5.31871 26.7359 5.21343C26.5109 5.10815 26.2656 5.05358 26.0172 5.05357H5.49652L4.86874 1.60075C4.79785 1.20993 4.59196 0.856412 4.287 0.601909C3.98205 0.347407 3.5974 0.208082 3.2002 0.208252H1.01366C0.820904 0.208252 0.63604 0.284825 0.499739 0.421126C0.363438 0.557427 0.286865 0.742291 0.286865 0.935049C0.286865 1.12781 0.363438 1.31267 0.499739 1.44897C0.63604 1.58527 0.820904 1.66185 1.01366 1.66185H3.2002C3.25695 1.6618 3.31191 1.6817 3.35547 1.71806C3.39904 1.75441 3.42845 1.80492 3.43857 1.86076L6.67307 19.6506C6.70922 19.8499 6.78082 20.041 6.88446 20.215C6.39208 20.5813 6.01742 21.0835 5.80651 21.6599C5.5956 22.2362 5.55763 22.8616 5.69724 23.4593C5.83686 24.0569 6.148 24.6007 6.59243 25.024C7.03687 25.4472 7.59525 25.7315 8.19899 25.8417C8.80273 25.952 9.42553 25.8836 9.9909 25.6448C10.5563 25.406 11.0396 25.0073 11.3815 24.4976C11.7234 23.9879 11.909 23.3895 11.9154 22.7758C11.9219 22.1621 11.749 21.5599 11.418 21.0431H20.6503C20.274 21.6323 20.1045 22.33 20.1686 23.0261C20.2327 23.7223 20.5266 24.3773 21.0042 24.8879C21.4817 25.3985 22.1156 25.7356 22.8059 25.8461C23.4962 25.9566 24.2036 25.8342 24.8167 25.4982C25.4297 25.1621 25.9135 24.6316 26.1916 23.9902C26.4698 23.3488 26.5266 22.6331 26.353 21.9559C26.1794 21.2787 25.7853 20.6786 25.2329 20.2501C24.6805 19.8216 24.0012 19.5892 23.3021 19.5895H8.34161C8.28486 19.5896 8.22991 19.5697 8.18634 19.5333C8.14277 19.4969 8.11336 19.4464 8.10325 19.3906L7.69892 17.1668H24.4315C24.8287 17.167 25.2133 17.0277 25.5183 16.7732C25.8232 16.5187 26.0291 16.1652 26.1 15.7744ZM10.462 22.739C10.462 23.0744 10.3626 23.4022 10.1762 23.6811C9.98988 23.96 9.72502 24.1774 9.41514 24.3057C9.10526 24.4341 8.76428 24.4677 8.43532 24.4022C8.10635 24.3368 7.80418 24.1753 7.56701 23.9381C7.32984 23.7009 7.16832 23.3988 7.10289 23.0698C7.03745 22.7408 7.07104 22.3999 7.19939 22.09C7.32775 21.7801 7.54511 21.5152 7.82399 21.3289C8.10288 21.1426 8.43075 21.0431 8.76616 21.0431C9.21578 21.0436 9.64684 21.2224 9.96476 21.5404C10.2827 21.8583 10.4615 22.2893 10.462 22.739ZM24.998 22.739C24.998 23.0744 24.8985 23.4022 24.7122 23.6811C24.5258 23.96 24.261 24.1774 23.9511 24.3057C23.6412 24.4341 23.3002 24.4677 22.9713 24.4022C22.6423 24.3368 22.3401 24.1753 22.103 23.9381C21.8658 23.7009 21.7043 23.3988 21.6388 23.0698C21.5734 22.7408 21.607 22.3999 21.7353 22.09C21.8637 21.7801 22.0811 21.5152 22.3599 21.3289C22.6388 21.1426 22.9667 21.0431 23.3021 21.0431C23.7517 21.0436 24.1828 21.2224 24.5007 21.5404C24.8186 21.8583 24.9975 22.2893 24.998 22.739ZM5.76079 6.50716H26.0172C26.0527 6.50716 26.0877 6.51496 26.1199 6.53001C26.152 6.54505 26.1804 6.56697 26.2032 6.59421C26.2259 6.62145 26.2424 6.65336 26.2514 6.68767C26.2605 6.72199 26.2619 6.75787 26.2555 6.79278L24.6698 15.5143C24.6597 15.5702 24.6303 15.6207 24.5867 15.657C24.5432 15.6934 24.4882 15.7133 24.4315 15.7133H7.43465L5.76079 6.50716Z" fill="#145404"/>
              </svg>
            </a>
            <a href="#" class="info-icon-user">
              <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="23.5" viewBox="0 0 23 27" fill="none">
                <path d="M11.5228 13.25C14.9055 13.25 17.6478 10.5077 17.6478 7.125C17.6478 3.74226 14.9055 1 11.5228 1C8.14009 1 5.39783 3.74226 5.39783 7.125C5.39783 10.5077 8.14009 13.25 11.5228 13.25Z" stroke="#145404" stroke-width="1.65" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.0455 25.5C22.0455 20.7592 17.3292 16.925 11.5227 16.925C5.71625 16.925 1 20.7592 1 25.5" stroke="#145404" stroke-width="1.65" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
