<div class="row slide">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/imgs/banner/banner-slide1.svg" class="d-block w-100" alt="banner01">
            </div>
            <div class="carousel-item">
            <img src="/imgs/banner/banner-slide02.svg" class="d-block w-100" alt="banner02">
            </div>
            <div class="carousel-item">
            <img src="/imgs/banner/banner-slide03.svg" class="d-block w-100" alt="banner03">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="shadow-banner col-xl-12">
        <img src="/imgs/shadows/shadow-banner.svg" alt="shadowbanner">
    </div>
</div>
<div class="prd-sale row">
    <div class="sidebar">
        <span class="sidebar-title">PRODUCT SALE</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="961" height="22" viewBox="0 0 961 22" fill="none">
            <path d="M2.09816e-06 11.9999C9.39387e-07 18.6273 5.37258 23.9999 12 23.9999L961 24.0001L961 -6.08553e-05L12 -0.000226784C5.37259 -0.000227942 3.25694e-06 5.37244 2.09816e-06 11.9999Z" fill="#5A8055"/>
        </svg>
    </div>
    <div class="prd-sale-list flex-align-c">
        <div class="prd-sale-item">
            <div class="prd-sale-bgr flex-align-c">
                <a href="" id="prd-sale-01" class="prd-img"></a>
            </div>
            <a href="" class="prd-sale-name">Cube Beefsteak</a>
        </div>
        <div class="prd-sale-item">
            <div class="prd-sale-bgr flex-align-c">
                <a href="" id="prd-sale-02" class="prd-img"></a>
            </div>
            <a href="" class="prd-sale-name">Texas BBQ</a>
        </div>
        <div class="prd-sale-item">
            <div class="prd-sale-bgr flex-align-c">
                <a href="" id="prd-sale-03" class="prd-img"></a>
            </div>
            <a href="" class="prd-sale-name">Beef Hamburger</a>
        </div>
        <div class="prd-sale-item">
            <div class="prd-sale-bgr flex-align-c">
                <a href="" id="prd-sale-04" class="prd-img"></a>
            </div>
            <a href="" class="prd-sale-name">Mix noodle with beef</a>
        </div>
    </div>
</div>
<div class="order-now">
    <div class="sidebar">
        <span class="sidebar-title">ORDER NOW</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="961" height="22" viewBox="0 0 961 22" fill="none">
            <path d="M2.09816e-06 11.9999C9.39387e-07 18.6273 5.37258 23.9999 12 23.9999L961 24.0001L961 -6.08553e-05L12 -0.000226784C5.37259 -0.000227942 3.25694e-06 5.37244 2.09816e-06 11.9999Z" fill="#5A8055"/>
        </svg>
    </div>
    <div class="prd-order flex-align-c row">
        <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>
         <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>
         <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>

    </div>
     <div class="prd-order flex-align-c row">
        <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>
         <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>
         <div class="col-xl-3">
            <div class="prd-order-item">
                <a href="" class="prd-order-link">
                    <img src="/imgs/prd-order/prd-01.svg" alt="prd-order">
                </a>
                <a href="" class="prd-order-name">Combo humburger double</a>
                <div class="prd-order-sale flex-align-c">
                    <span class="prd-sale-tag"></span>
                    <span class="prd-order-time-sale"></span>
                </div>
                <div class="prd-order-price flex-align-c">
                    <span class="prd-price-new">60.000 đ</span>
                    <span class="prd-price-old">90.000 đ</span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="view-more-prd row">
    <button id="btn-view-more-prd" type="button" class="btn btn-outline-success">Xem Thêm</button>  
</div>
<div class="news-home">
    <div class="sidebar row">
        <span class=" col-xl-3 sidebar-title">PROMOTIONAL NEWS</span>
        <svg class="col-xl-9" xmlns="http://www.w3.org/2000/svg" width="961" height="22" viewBox="0 0 961 22" fill="none">
            <path d="M2.09816e-06 11.9999C9.39387e-07 18.6273 5.37258 23.9999 12 23.9999L961 24.0001L961 -6.08553e-05L12 -0.000226784C5.37259 -0.000227942 3.25694e-06 5.37244 2.09816e-06 11.9999Z" fill="#5A8055"/>
        </svg>
    </div>
    <div class="news-home-list">
        <div class="row justify-content-between">
            <div class="news-home-item col-xl-5">
                <div class="row justify-content-between">
                    <a class="col-xl-5" href="" class="news-home-link">
                        <img class="news-home-img" src="/imgs/news/img-news-01.svg" alt="">
                    </a>
                    <div class="news-home-content col-xl-7">
                        <a href="" class="news-home-title">Bạn đã nghĩ "Steak" là gì?</a>
                        <span class="news-home-disc">Nhắc đến steak, có phải bạn nghĩ đến những miếng bò beef steak (bò bít tết) đúng không nào? Cũng có thể nói, bạn đã hiểu đúng 20%....</span>
                        <a href="" class="show-detail">
                            Chi tiết 
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.334534 8.00002L5.00001 4.00001L0.334534 0V8.00002Z" fill="#F42828"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="news-home-item col-xl-5">
                <div class="row justify-content-between">
                    <a class="col-xl-5" href="" class="news-home-link">
                        <img class="news-home-img" src="/imgs/news/img-news-01.svg" alt="">
                    </a>
                    <div class="news-home-content col-xl-7">
                        <a href="" class="news-home-title">Bạn đã nghĩ "Steak" là gì?</a>
                        <span class="news-home-disc">Nhắc đến steak, có phải bạn nghĩ đến những miếng bò beef steak (bò bít tết) đúng không nào? Cũng có thể nói, bạn đã hiểu đúng 20%....</span>
                        <a href="" class="show-detail">
                            Chi tiết
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.334534 8.00002L5.00001 4.00001L0.334534 0V8.00002Z" fill="#F42828"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-footer"></div>
</div>

