html{
    font-size: 62.5%;
    font-family: 'Inter'!important;
    line-height: 1.6rem;
    box-sizing: border-box !important;
}
*{
    box-sizing: inherit !important;
    margin: 0;
    padding: 0;
    border: 0;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}